@font-face {
	font-family: "Nunito-regular";
	src: url("/src/fonts/Nunito-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Nunito-SemiBold";
	src: url("/src/fonts/Nunito-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Pacifico";
	src: url("/src/fonts/Pacifico-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
