body {
	background-color: var(--bg-color);
	color: var(--text-color);
	font-size: 20px !important;
	font-family: Nunito-regular !important;
	line-height: 1.7rem !important;
}

button,
textarea,
[type="text"] {
	&:focus-visible {
		outline: 2px solid #ffa500;
	}
}
